@import 'variables';
body {
    background-color: #d7d7d7;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    border: none !important;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.wrap_1 {
    h2 {
        color: #333333;
        font-size: 20px;
        border-bottom: 1px solid #333333;
        margin-bottom: 10px;
    }
    margin-top: 40px;
    .block {
        background: $orange_color;
        text-align: center;
        @media(max-width: 767px) {
            margin-bottom: 20px;
        }
        .block_inner {
            padding: 30px 10px;
            i {
                color: #ffffff;
                margin: 0 0 20px 0;
            }
            h2 {
                font-size: 15px;
                color: #fff;
                margin: 0 0 0 0;
                padding: 0 0 20px 0;
            }
            p {
                &:before {
                    content: '\f040';
                    font-family: 'FontAwesome';
                    font-size: 28px;
                    color: #ffffff;
                }
                font-size: 15px;
                color: #fff;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                line-height: 28px;
            }
        }
    }
}

.number_counter_div {
    h2 {
        color: #333333;
        font-size: 20px;
        border-bottom: 1px solid #333333;
        margin-bottom: 10px;
    }
    padding-top: 80px;
    padding-bottom: 80px;
    .number_inner {
        background: #0062ff;
        padding-top: 80px;
        padding-bottom: 80px;
        .number_box {
            text-align: center;
            span {
                color: #ffffff;
                font-size: 38px;
            }
        }
    }
}

#kb {
    ol.carousel-indicators li {
        border: 1px solid #fff !important;
        width: 10px;
        height: 10px;
        .active {
            width: 14px;
            height: 14px;
            margin: 0;
            background-color: #fff;
        }
    }
    .carousel-inner {
        img {
            width: 100%;
        }
        .carousel-caption {
            h3 {
                font-size: 36px;
                -webkit-animation-duration: 3s;
                .new_box {
                    width: 100px;
                    height: 100px;
                    background-color: #b10303;
                    margin: 20px auto 20px auto;
                }
            }
            p {
                font-size: 26px;
            }
        }
    }
    .carousel-control.left {
        background-image: none;
        background-repeat: none;
    }
    .carousel-control.right {
        background-image: none;
        background-repeat: none;
    }
}

.slide_div {
    width: 290px;
    height: 100%;
    position: fixed;
    right: -235px;
    top: 0;
    z-index: 9999;
    outline: none;
}

.slide_div_left {
    width: 50px;
    float: left;
}

.new_click {
    cursor: pointer;
    margin-top: 10px;
}

.new_click i {
    padding: 5px 10px;
    background: #fff;
    border-radius: 8px;
}

.slide_div_right {
    width: 235px;
    float: right;
    background: #006c8d;
    height: 100%;
}

.slide_div {
    width: 290px;
    height: 100%;
    position: fixed;
    right: -235px;
    top: 0;
    z-index: 9999;
    outline: none;
}

.slide_div_left {
    width: 50px;
    float: left;
}

.new_click {
    cursor: pointer;
    margin-top: 10px;
}

.new_click i {
    padding: 5px 10px;
    background: #fff;
    border-radius: 8px;
}

.slide_div_right {
    width: 235px;
    float: right;
    background: #006c8d;
    height: 100%;
}

.inner {
    padding: 20px;
}

.inner h2 {
    color: #fff;
    font-size: 28px;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
}

ul.list li {
    list-style: none;
}

ul.list li a {
    color: #fff;
    font-size: 16px;
    line-height: 33px;
}

.block_div {
    margin-bottom: 70px;
    h2 {
        color: #333333;
        font-size: 16px;
        line-height: 33px;
       
    }
    .blockcontainer {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        &:hover .textbox {
            left: 0;
        }
        &:hover img {
            margin-left: 100%;
        }
        .textbox {
            h3 {
                font-size: 30px;
                color: #ffffff;
               
            }
            position:absolute;
            text-align: center;
            top:0;
            left:-100%;
            width:100%;
            height:100%;
            background-color: #ffbc06;
            -webkit-transition: all 1s ease-in;
            transition: all 1s ease-in;
        }
        img {
            margin-left: 0;
            width: 100%;
            -webkit-transition: all 1s ease-in;
            transition: all 1s ease-in;
        }
    }
}


.form_feature{ margin-bottom:50px;}



.filter_div{
    .margin_1{ margin-bottom: 30px;}
    h2{ font-size: 24px; color: #333333;margin-bottom: 20px;}
    p{margin-top: 8px; font-size: 18px;}
     margin-bottom: 60px;
    .img_1{
        -webkit-filter: blur(2.5px);
        filter: blur(2.5px); transition: all .5s;
        &:hover{
            -webkit-filter: blur(0px);
            filter: blur(0px);
        }
    }
    
    .img_2{
       -webkit-filter: brightness(0.6);
        filter: brightness(0.6); transition: all .5s;
        &:hover{
            -webkit-filter: brightness(1);
            filter: brightness(1);
        }
    }
    .img_3{
       -webkit-filter: grayscale(0.75);
       filter: grayscale(0.75); transition: all .5s;
        &:hover{
            -webkit-filter: grayscale(0.1);
           filter: grayscale(0.1);
        }
    }
    .img_4{
       -webkit-filter: opacity(40%);
        filter: opacity(40%);transition: all .5s;
        &:hover{
            -webkit-filter: opacity(100%);
               filter: opacity(100%);
        }
    }
    .img_5{
       -webkit-filter: sepia(1);
        filter: sepia(1);transition: all .5s;
        &:hover{
            -webkit-filter: sepia(0.1);
            filter: sepia(0.1);
        }
    }
     .img_6{
      -webkit-filter: drop-shadow(0px 0px 5px #000);
filter: drop-shadow(0px 0px 5px #000);transition: all .5s;
        &:hover{
            -webkit-filter: drop-shadow(4px 4px 5px #000);
           filter: drop-shadow(4px 4px 5px #000);
        }
    }
   
}
  


#demo1{ color: #ff0000; font-size: 24px;}
.type_text{
    p{color: #000000; font-size: 20px;}
}

.map_div{ margin-bottom: 70px;}













